<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="menu"><a href="?cmd=list" id="list-page-link">Nimekiri</a>  |
    <a href="?cmd=add" id="add-page-link">Lisa</a>
</div>

<div id="content">



    <form method="post" action="?cmd=save">

        <input type="hidden" name="id" value="">

        <table class="form-table">
            <tbody tpl-foreach="$order_lines as $line">
            <tr>
                <td>Eesnimi:</td>
                <td><input name="firstName" value="{{ $line->firstName }}"></td>
            </tr>
            <tr>
                <td>Perekonnanimi:</td>
                <td><input name="lastName" value="{{ $line->lastName }}"></td>
            </tr>
            <tr>
                <td>Telefonid:</td>
                <td><input name="phone1" value="{{ $line->phone1 }}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input name="phone2" value="{{ $line->phone2 }}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input name="phone3" value="{{ $line->phone3 }}"></td>
            </tr>
            <tr>
                <td colspan="2"><br>
                    <input name="submit-button" type="submit" value="Salvesta">
                </td>
            </tr>

            </tbody>
        </table>

    </form>
</div>
<div id="footer">
    ICD0007 N&auml;idisrakendus
</div>
</body>
</html>