<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="menu"><a href="?cmd=list" id="list-page-link">Nimekiri</a>  |
    <a href="?cmd=add" id="add-page-link">Lisa</a>
</div>
<table class="my-table">
    <thead>
    <tr id="headline">
        <th scope="col">Eesnimi</th>
        <th scope="col">Perenimi</th>
        <th scope="col">Telefon</th>
    </tr>
    <tr tpl-foreach="$order_lines as $line">
        <th> {{ $line->firstName }}</th>
        <th> {{ $line->lastName }}</th>
        <th> {{ $line->phone }}</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</body>
</html>